.loader {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: block;
    overflow: hidden;
}

.loader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation-delay: 1s;
}

.loader__item-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ec415e;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
.loader__item-1:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ec415e;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 200ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.loader__item-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1071b4;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__item-2:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1071b4;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 400ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.loader__item-3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fef035;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__item-3:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fef035;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 600ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.loader__item-4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #853992;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__item-4:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #853992;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 800ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.loader__item-5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #82c04a;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__item-5:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #82c04a;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 1000ms;
    transition: 0.5s all ease;
    transform: scale(1);
}