{% load static %}
<!DOCTYPE html>
<head>
    <title>TITLE</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/switch.css' %}" />
    <link rel="stylesheet" href="{% static 'css/range.css' %}" />
</head>
<body>
    <div id="root"></div>
    <script src="{% static 'js/main.js' %}"></script>
</body>